/* Main Config */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body {font-family: 'Lato', Helvetica, Arial, sans-serif; color:#7F8C8D; background-color: #fff; font-size: 100%; line-height: 1.5;} 

h1 {font-size: 3.5em; line-height: 1.5em; }
h2 {font-size: 2.5em; line-height: 2.5em; }
h3 {font-size: 1.5em; line-height: 2em; }
h4 {font-weight: bold;}

header {background-color: #34495e; height: 85px;}
header.topo {border-bottom: 5px solid #20364C;}
header i[att^="fui-"] {font-size: 1.5em; color: #fff;}
header h2 {color: #fff; line-height: 70px;}
header img.logo{width: 15%; margin-top: 5px; float: left;}

.headbox h1, h3 {color: #fff; } 
.headbox {background-color: #1abc9c; text-align: center; padding: 150px;}

.mainbox {background-color: #eaeaea; box-sizing: border-box; padding: 60px 0px;}

.icons {overflow: hidden; padding: 50px 0px; width: auto;}
.icons h3 {color: #1abc9c; font-weight: bold;}
.icons ul {overflow: hidden; width: auto;}
.icons ul li {width: 30%; text-align: center; float: left;}
.icons ul li embed {margin-bottom: 20px;}
.icons ul li:nth-child(2) {margin: 0px 4% 5%;}

footer{background-color: #eaeaea; padding: 20px 0;}
footer ul li {display: inline; margin-left: 15px;}
footer ul li:first-child{margin-left: 0px;}
footer a {color: inherit;}
footer ul.nav-footer a {color: inherit; text-decoration: none; font-size: 0.8em;}
footer ul.nav-footer a:hover {color: #34495e; cursor: pointer;}

ol {list-style: decimal outside none; margin: 0 0 0 20px;}
ol li {margin-bottom: 15px;}

@media screen and (max-width: 900px) {
   .icons ul li {width: 100%; text-align: center; float: none;}
   .icons ul li:nth-child(2) embed {margin-left: -50px; margin-top: 15px;  }
}

.container-mainbox { min-height: 650px; background-color: #fff; margin: 0 auto; overflow: hidden;}
.container-mainbox header {height: 70px; background-color: #1ABC9C; padding: 10px 2%;}
.container-mainbox .question-value {color: #fff; height: 100%; line-height: 35px; background-color: #16A085; padding: 10px;}
.container-mainbox .subject {color: #fff; margin-right: 10px; text-transform: uppercase; height: 100%; line-height: 35px; background-color: #16A085; padding: 10px;}
.container-mainbox article {padding: 10px 2%;}

.container-mainbox article div.options-help {text-align: center; overflow: hidden; margin-top: 30px; margin-left: 18%;}
.container-mainbox article div.options-help > div {min-width: 150px; float: left; border: 1px solid; padding: 15px; background-color: #3498DB; margin-right: 15px; color: #fff; border-radius: 10px; }
.container-mainbox article div.options-help p {background-color: #2980B9; padding: 5px; border-radius: 5px; margin-top: 5px;}
.container-mainbox article .options-help div:hover {cursor: pointer; opacity: 0.9;}
.container-mainbox article div.options-help .wrong {background-color: #E74C3C;}
.container-mainbox article div.options-help .wrong p {background-color: #C0392B; }


.container-mainbox article li > div {padding: 18px 0px; border-bottom: 5px solid #eaeaea; border-radius: 25px;}
.container-mainbox article li > div:hover  {border-bottom: 7px solid #eaeaea; cursor: pointer}
.container-mainbox article input[type=radio] {display: none;}
.container-mainbox article input[type=radio]:checked + div {background-color: #eaeaea; overflow: hidden; font-weight: bold}
.container-mainbox article p.question {margin-top: 20px; font-size: 1.1em; }
.container-mainbox article p.option {width: 38px; font-size: 1.5em; margin: 0px 15px 0px 5px; border-radius: 200px; border-radius:250px; color:#fff; text-align:center; background:#E74C3C}
.container-mainbox article ul {margin-top: 10px;}
.container-mainbox article ul li {padding: 8px 1px; margin-bottom: 5px; overflow: hidden;}

.ranking-box {min-height: 300px; width: 23%; float: right; background-color: #fff;}
.ranking-box header {height: 70px; background-color: #1ABC9C; padding: 10px 2%;}
.ranking-box ul {padding: 5px 0px;}
.ranking-box ul > li {padding: 5px 0px; overflow: hidden;}
.ranking-box ul > li > h4 {color: #7F8C8D}

.badges-box {min-height: 300px; width: 23%; float: right; background-color: #fff;}
.badges-box header {height: 70px; background-color: #1ABC9C; padding: 10px 2%;}
.badges-box article { padding: 5px; margin-right: 5px;}
.badges-box img {opacity: 0.35;}

.hit-average {min-height: 200px; width: 23%; float: right; background-color: #fff;}

.box-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  background: rgba(0,0,0,0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.box-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.box-content {
  background: #fff;
  position: relative;
  border-radius: 5px;
  margin: 0 auto;
}

.box-content > h3 {background-color: #3498db; border-top-left-radius: 5px; border-top-right-radius: 5px; text-align: center;}
.box-content > div {padding: 10px;}
.box-content > p {background-color: #eaeaea; padding: 5px; text-align: center; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}

/* forms */

form {padding: 5px 10px 5px;}
form .control-group {overflow: hidden; margin-bottom: 10px;}
form.form-aligned label {margin-right: 20px; width: 10%; padding: 5px;}
form input[type="text"], input[type="password"], input[type="email"], textarea {border: 2px solid #bdc3c7; color: #34495e;
font-size: 0.8em;
padding: 0px 12px;
height: 30px;
-webkit-appearance: none;
border-radius: 6px;
-webkit-box-shadow: none;
outline: none;
}

form textarea {padding-top: 5px; padding-bottom: 5px; height: 75px; width: 100%}

/* botoes */

.btn {font-size: 1em; font-weight: 400; border: none; background: #bdc3c7; color: #ffffff; padding: 9px 18px 9px; line-height: 22px;text-decoration: none;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn:hover, .btn:focus{ background-color: #cacfd2; color: #ffffff; outline: none; -webkit-transition: 0.25s; -moz-transition: 0.25s; -o-transition: 0.25s; transition: 0.25s; -webkit-backface-visibility: hidden; }
.btn:active, .btn.active { background-color: #a1a6a9; color: rgba(255, 255, 255, 0.75); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.btn.disabled, .btn[disabled] { background-color: #bdc3c7; color: rgba(255, 255, 255, 0.75); opacity: 0.7; filter: alpha(opacity=70); }
.btn.btn-danger { background-color: #e74c3c; border-bottom: 4px solid #B63022;}
.btn.btn-danger:hover, .btn.btn-danger:focus{ background-color: #ec7063; cursor: pointer; }
.btn.btn-danger:active, .btn.btn-danger.active { background-color: #c44133; }
.btn-cancel {background-color: #A0A7AB; color: #4c4c4c;}
.btn-cancel:hover {background-color: #B0B9BE; color: #4c4c4c;}
.btn.btn-info { background-color: #3498db; }
.btn.btn-info:hover{ background-color: #5dade2; cursor: pointer;}
.btn-primary { color: #ffffff; background-color: #1abc9c;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #ffffff;
background-color: #48c9b0;
border-color: #48c9b0;
}
.btn-sm, .btn-xs {
padding: 5px 10px;
font-size: 13px;
line-height: 1.6;
border-radius: 3px;
}

.btn-social-facebook {
background-color: #2f4b93;
}
.btn-social-facebook:hover,
.btn-social-facebook:focus {
  background-color: #596fa9;
}
.btn-social-facebook:active,
.btn-social-facebook.active {
  background-color: #28407d;
}

.btn.btn-login {background: #34495E; border: 2px solid #FFFFFF; color: #FFFFFF;}
.btn.btn-login:hover {background: #34495E; border: 2px solid #FFFFFF; color: #FFFFFF; cursor: pointer;}

.tooltip {position: absolute; background-color: #fff; right: 5%; width: 265px; border-radius: 15px; top: 75px; box-sizing: border-box; padding: 5px;}
.tooltip button:hover {cursor: pointer}
.tooltip .image-profile img {margin: 0 auto; display: block;}
.tooltip .txt-profile {text-align: right}
.tooltip .txt-profile > div {margin: 5px auto; display: table;}

/* tools */

.geral-container {padding-left:5%; padding-right: 5%; padding-bottom: 5%;}

.small {font-size: 0.7em;}

.w100 {width: 100%;}
.w90 {width: 90%;}
.w80 {width: 80%;}
.w76 {width: 76%;}
.w60 {width: 60%;}
.w30 {width: 30%;}
.w25 {width: 25%;}

.left {float: left;}
.right {float: right;}
.clear {clear: both;}

.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr25 {margin-right: 25px;}

.ml5 {margin-left: 5px;}

.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt12 {margin-top: 12px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 20px;}
.mt40 {margin-top: 40px;}

.close {float: right; font-size: 20px; font-weight: bold; line-height: 45px; color: #2980B9; margin-right: 10px;}

.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb40 {margin-bottom: 40px;}

.fixed {position: fixed;}

.txt-center {text-align: center;}

.login-error{color: #DD381D; font-weight: bold;}
.cadastro-error {position: absolute; background-color: rgba(0,0,0,0.75); padding: 5px; border-radius: 5px; color: #fff;}

/* icones */

.fui-info, .fui-user, .fui-mail, .fui-gear, .fui-chat, .fui-check, .fui-alert, .fui-facebook, .fui-cross, .fui-youtube, .fui-googleplus, .fui-triangle-up, .fui-mail, .fui-triangle-down, .fui-exit, .fui-home
{
  display: inline-block;
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.fui-info:before { content: "\e016"; }
.fui-user:before { content: "\e01d"; }
.fui-mail:before { content: "\e01e"; }
.fui-gear:before { content: "\e024"; }
.fui-chat:before { content: "\e013"; }
.fui-check:before { content: "\e00a"; }
.fui-alert:before { content: "\e017"; }
.fui-facebook:before {content: "\e03f"; }
.fui-youtube:before {content: "\e040";}
.fui-googleplus:before {content: "\e04a"; }
.fui-cross:before { content: "\e00b"; }
.fui-triangle-up:before { content: "\e000"; }
.fui-mail:before { content: "\e01e"; }
.fui-triangle-down:before {content: "\e004";}
.fui-exit:before { content: "\e026"; }
.fui-home:before { content: "\e015"; }

.iconbar {  -webkit-backface-visibility: hidden; *zoom: 1; }
.iconbar:before, .iconbar:after { display: table; content: ""; }
.iconbar:after { clear: both; }
.iconbar > ul { display: block;  margin: 0; padding: 0; }
.iconbar > ul > li { margin: 0; padding: 0; }
.iconbar > ul > li.active > a { color: #1abc9c; }
.iconbar > ul > li:first-child > a { padding-top: 32px; }
.iconbar > ul > li > a { color: #ffffff; display: block; font-size: 24px; line-height: 1; padding: 8px 30px 32px; position: relative; text-decoration: none; }
.iconbar > ul > li > a:hover, .iconbar > ul > li > a:focus { color: #1abc9c; }
.iconbar-horizontal { float: right; }
.iconbar-horizontal > ul > li { float: left; }
.iconbar-horizontal > ul > li:first-child > a { padding: 23px 32px 23px; }
.iconbar-horizontal > ul > li > a { padding: 23px 32px 23px 8px; }
.iconbar-horizontal .iconbar-unread { right: 23px; top: 13px; }

/* IDs */

#notifica-erro:hover {cursor: pointer;}

#ranking_amigos h4 {display: inline-block; margin-right: 5px;}
#ranking_amigos li { list-style-type: none; }

